{% extends 'layout.html.twig' %}

{% block title %}Événements{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/events.css">{% endblock %}

{% block content %}
    <section class="events">
        <header class="header">
            <div class="container h-100 justify-around">
                <div class="row h-75 align-items-center">
                    <div class="col-12">
                        <h1>Calendrier des sorties et événements</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="card-events container">
            <div class="d-flex flex-wrap justify-content-around">
                {% for event in events if event.date >= "now"|date('Y-m-d') %}
                    <div class="card">
                        <img class="card-img-top" src="{{ event.image }}" alt="{{ 'Image ' ~ event.type }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ event.title }}</h2>
                            <p class="card-text">
                                {{ event.type }}
                                {% if event.speaker_name is not empty %}
                                    donnée par {{ event.speaker_name }}
                                {% endif %}
                            </p>
                            <p class="card-text">{{ event.date|date('d/m/Y') }} - {{ event.hour|date("H\\hi") }}</p>
                            <p class="card-text">{{ event.location }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}