{% extends 'layout.html.twig' %}

{% block title %}Events | Admin{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/events.css">{% endblock %}

{% block content %}
    <section class="events">
        <header class="header">
            <div class="container h-100 justify-around">
                <div class="row h-75 align-items-center">
                    <div class="col-12">
                        <h1>Administrer les événéments</h1>
                    </div>
                </div>
            </div>
        </header>

        <div class="text-center button-add-events">
            <a class="btn btn-primary" href="/events/add">+ Ajouter un événement</a>
        </div>

        <div class="table-responsive container-fluid">
            <table class="list-events table table-bordered table-striped col-10 offset-1">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Lieu</th>
                    <th>Intervenant (si pertinent)</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.type }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.date|date("d/m/Y")}}</td>
                        <td>{{ event.hour|date("H\\hi") }}</td>
                        <td>{{ event.location }}</td>
                        <td>{{ event.fullname }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}