{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/home.css">{% endblock %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>Association Mycologique et Botanique du Loiret</h1>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-sm-6 col-md-7 col-xl-8">
                    <p>L’Association Mycologique et Botanique du Loiret a pour but de vous faire découvrir la biodiversité de notre beau département.
                        À travers différentes initiatives comme les rassemblements, randonnées pédestres, conférences et développement d’actions environnementales, l’AMBL propose à ses adhérents et adhérentes diverses activités constructives, basées sur l’apprentissage et la découverte de la flore locale.
                        L’AMBL sera ravie de vous compter parmi ses rangs si vous ne faites pas encore partie de notre association !</p>
                </div>
                <div class="col-sm-6 col-md-5 col-xl-4">
                    <img class="img-fluid" src="/assets/images/image_champignon.jpeg" alt="">
                </div>
            </div>
        </div>
    </header>

    <section class="next-events container">
        <h2 class="text-center">Événements à venir</h2>

        <div class="row justify-content-center justify-content-md-between">
        {% for nextEvent in nextEvents %}
            <div class="card col-9 col-md-3">
                <img class="card-img-top" src="{{ nextEvent.image }}" alt="{{ 'Image ' ~ nextEvent.type }}">
                <div class="card-body">
                    <h3 class="card-title">{{ nextEvent.date|date('d/m/Y') }}</h3>
                    <div class="fields">
                        <p class="event-title">
                            {{ nextEvent.title }}
                            {% if nextEvent.speaker_name is not empty %}
                                - {{ nextEvent.speaker_name }}
                            {% endif %}
                        </p>
                        <p class="event-location">{{ nextEvent.location }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="text-center button-events">
            <a class="btn btn-primary" href="/event/index">Voir tous les événements</a>
        </div>
    </section>

    <section class="random-vegetal container">
        <h2 class="text-center">Le connaissiez-vous ?</h2>

        <div class="row align-items-center">
            <div class="col-sm-6 col-md-5 col-xl-4">
                <img class="img-fluid"
                     src="/assets/images/catalog/{{ randomVegetal.picture }}"
                     alt="Image {{ randomVegetal.common_name }}">
            </div>
            <div class="col-sm-6 col-md-7 col-xl-8">
                <p>Nom latin : <span class="italic">{{ randomVegetal.latin_name }}</span></p>
                <p>Nom vernaculaire : {{ randomVegetal.common_name }}</p>
                {% if randomVegetal.toxicity_name == null %}
                    <p></p>
                {% else %}
                    <p>{{ randomVegetal.toxicity_name }}</p>
                {% endif %}
                <p>{{ randomVegetal.description }}</p>
            </div>
        </div>

        <div class="text-center button-catalog">
            <a class="btn btn-primary" href="/catalog/index">Voir le catalogue</a>
        </div>
    </section>

{% endblock %}
