{% extends 'layout.html.twig' %}

{% block title %}Ressources{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/table.css">
<link rel="stylesheet" href="/assets/css/link.css">
{% endblock %}
{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>
                        Ressources
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <h2 class="text-center">Liens utiles</h2>

    <section class="links">

        <div class="wrapTop">
                    {% for link in links %}
                                {% if link.bool == 1 %}

                                    <a href="{{ link.url }}">

                                        <figure>
                                           <img src="/assets/images/{{ link.image }}" alt="website">
                                            <figcaption>
                                                <h5>{{ link.name }}</h5>
                                                <hr>
                                                <h6>{{ link.description }}</h6>
                                            </figcaption>
                                        </figure>
                                    </a>    
                                {% endif %}
                    {% endfor %}
        </div> 
                   
        <div class="wrapBottom">
                   {% for link in links %}
                                {% if link.bool == 0 %}
                                    <a href="{{ link.url }}">
                                        <figure>
                                            <figcaption>
                                                <h5>{{ link.name }}</h5>
                                                <hr>
                                                <h6>{{ link.description }}</h6>
                                            </figcaption>
                                        </figure>
                                     </a>        
                                {% endif %}
                    {% endfor %}
        </div>           
    </section>

    <section class="books">
        <h2 class="text-center">Livres utiles</h2>

        <div class="table-responsive container-fluid">
            <table class="list-books table table-bordered table-striped col-10 offset-1">
                <thead>
                    <tr>
                        
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Année</th>
                        <th>Éditeur</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.year }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                
                   
        </div>
    </section>
{% endblock %}