{% extends 'layout.html.twig' %}

{% block title %}Livres Utiles{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/table.css">{% endblock %}

{% block content %}
    <section class="books">
        <h1 class="text-center">Livres utiles</h1>

        <div class="table-responsive container-fluid">
            <table class="list-events table table-bordered table-striped col-10 offset-1">
                <thead>
                    <tr>
                        
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Année</th>
                        <th>Éditeur</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.year }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}