{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/catalog.css">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>Catalogue</h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid bg-light h-100">
            <div class="row align-items-center justify-content-center pt-5 pb-5">
                <form method="get" action="/catalog/index/" class="d-flex flex-direction-row justify-content-around">
                    <div class="form-group">
                        <label for="search">Rechercher</label>
                        <input id="search" type="search" name="search" class="form-control">
                    </div>
                    <div class="form-group mt-4 pt-2 ml-2">
                        <button class="btn btn-primary">Chercher</button>
                    </div>
                </form>
            </div>
        </div>

        <section class="catalog">
            <div class="container">
                <div class="row">
                    {% for element in elements %}
                        <div class="col-lg-4 col-md-6">
                            <div class="catalog-card mt-2">
                                <div class="block-img">
                                    <img src="/assets/images/catalog/{{ element.picture }}" alt="">
                                    <div class="status">
                                        <p>{{ element.toxicity_name }}</p>
                                    </div>
                                </div>
                                <div class="catalog-card-content">
                                    <div class="block-title mb-3">
                                        <h4>{{ element.common_name }}</h4>
                                    </div>
                                    <p>{{ element.description|slice(0,81)~'...' }}.</p>
                                    <button type="button" class="box_btn" data-toggle="modal" data-target="#modalItem{{ element.id }}">Lire la suite</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% for element in elements %}
        <div class="modal fade" id="modalItem{{ element.id }}" tabindex="-1" role="dialog" aria-labelledby="modalItem{{ element.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-catalog">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ element.common_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <img class="card-img-top img-fluid" src="/assets/images/catalog/{{ element.picture }}" alt="Photo du champignon">
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Nom latin</p>
                                        </div>
                                        <div class="col-8">
                                            {{ element.latin_name }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Couleur</p>
                                        </div>
                                        <div class="col-8">
                                            {{ element.color }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <p>{{ element.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>

{% endblock %}