{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/catalog.css">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>Catalogue</h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid bg-light h-100">
            <div class="row align-items-center justify-content-center pt-5 pb-5">
                <form method="get" action="/catalog/index/" class="d-flex flex-direction-row justify-content-around">
                    <div class="form-group">
                        <label for="search">Rechercher</label>
                        <input id="search" type="search" name="search" class="form-control" value="{{ search ?? ''}}">
                    </div>
                    <div class="form-group mt-4 pt-2 ml-2">
                        <button class="btn btn-primary">Chercher</button>
                        {% if search != '' %}
                            <a href="/catalog/index" class="btn btn-primary">Retourner en arrière</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <section class="catalog-section">
            <div class="container">
                <div class="row">
                    {% for element in elements %}
                        <div class="col-lg-4 col-md-6">
                            <div class="catalog-card mt-2">
                                <div class="catalog-card-header">
                                    {% if element.picture is empty  %}
                                        <img class="picture img-fluid" src="/assets/images/catalog/{{ element.type_name }}_image.jpg" alt="Photo de {{ element.common_name }}">
                                    {% else %}
                                        <img class="picture img-fluid" src="/uploads/catalog/{{ element.picture }}" alt="Photo de {{ element.common_name }}">
                                    {% endif %}
                                    <div class="card-icon">
                                        <img class="icon" src="/assets/images/catalog/{{ element.type_name }}_icon.png" alt="">
                                    </div>
                                    <div class="catalog-card-category">
                                        {% if element.toxicity_name != null %}
                                            {% if element.toxicity_name == 'Toxique' %}
                                                <p class="text-category status-danger">{{ element.toxicity_name }}</p>
                                            {% elseif element.toxicity_name == 'Mortel' %}
                                                <p class="text-category status-warning">{{ element.toxicity_name }}</p>
                                            {% else %}
                                                <p class="text-category status">{{ element.toxicity_name }}</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="catalog-card-content">
                                    <div class="blog-title">
                                        <h4>
                                            <a href="#" class="block-title-link stretched-link" data-toggle="modal" data-target="#modalItem{{ element.id }}">
                                                {{ element.common_name }}
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        {% if numberPageTotal != 0 %}
            <div class="div-pagination">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination">
                                {% if numberPage == 1%}
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link">Précédent</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="/catalog/page/{{ previousPage }}" class="page-link">Précédent</a>
                                    </li>
                                {% endif %}
                                {% for i in 1..numberPageTotal %}
                                    {% if i == numberPage %}
                                        <li class="page-item active">
                                            <a class="page-link" href="/catalog/page/{{ i }}">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="/catalog/page/{{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if numberPage == numberPageTotal %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Suivant</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/catalog/page/{{ nextPage }}">Suivant</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% for element in elements %}
            <div class="modal fade" id="modalItem{{ element.id }}" tabindex="-1" role="dialog" aria-labelledby="modalItem{{ element.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header modal-catalog">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ element.common_name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        {% if element.picture is empty  %}
                                            <img class="card-img-top img-fluid" src="/assets/images/catalog/{{ element.type_name }}_image.jpg" alt="Photo de {{ element.common_name }}">
                                        {% else %}
                                            <img class="card-img-top img-fluid" src="/uploads/catalog/{{ element.picture }}" alt="Photo de {{ element.common_name }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-5">
                                                <p>Nom latin</p>
                                            </div>
                                            <div class="col-7">
                                                <i>{{ element.latin_name }}</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <p>Couleur</p>
                                            </div>
                                            <div class="col-7">
                                                {{ element.color }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                {% if element.toxicity_name == null %}
                                                    <p></p>
                                                {% else %}
                                                    <p>Information(s) complémentaire(s)</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-7">
                                                {% if element.toxicity_name == null %}
                                                    <p></p>
                                                {% else %}
                                                    {{ element.toxicity_name }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <p>{{ element.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}