<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="commonName">Nom commun *</label>
        <input type="text" name="commonName" class="form-control" placeholder="ex:champignon" value="{{ dataSend.commonName }}" required>
    </div>
    <div class="form-group">
        <label for="latinName">Nom latin *</label>
        <input type="text" name="latinName" class="form-control" placeholder="ex:tremella" value="{{ dataSend.latinName }}" required>
    </div>
    <div class="form-group">
        <label for="color">Couleur *</label>
        <input type="text" name="color" class="form-control" placeholder="ex:jaune" value="{{ dataSend.color }}" required>
    </div>
    <div class="form-group">
        <label for="description">Description *</label>
        <textarea type="text" name="description" class="form-control" placeholder="ex:De pettie taille" rows="3" required>{{ dataSend.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="type">Type *</label>
        <select name="type" class="form-control">
            <option value="">Selectionner le type de l'élément</option>
            {% for elementType in elementTypes %}
                <option value="{{ elementType.id }}" {% if dataSend.type  == elementType.id %}selected{% endif %}>
                    {{ elementType.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="toxicity">Toxicité</label>
        <select name="toxicity" class="form-control">
            <option value="">Selectionner un élément dans la liste</option>
            {% for toxicity in toxicities %}
                <option value="{{ toxicity.id }}" {% if dataSend.toxicity  == toxicity.id %}selected{% endif %}>
                    {{ toxicity.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group files">
        <label for="picture">Photo</label>
        <input type="file" name="picture" class="form-control" />
    </div>

    <button class="btn btn-primary">Ajouter</button>
</form>