{% extends 'layout.html.twig' %}

{% block title %}
    CatalogueAdmin | Modifier
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/catalogAdmin.css">
{% endblock %}

{% block content %}
    <header class="header">
        <div class="container h-100 justify-around">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <h1>{{ element.common_name }}</h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="catalog">
            <div class="container">
                <div class="row message-box">
                    <div class="col-12">
                        {% if errors is not empty %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <form method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="id" value="{{ element.id }}">
                            </div>
                            <div class="form-group">
                                <label for="commonName">Nom commun *</label>
                                <input type="text" name="commonName" class="form-control" placeholder="ex:champignon" value="{{ dataSend.commonName }} {{ element.common_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="latinName">Nom latin *</label>
                                <input type="text" name="latinName" class="form-control" placeholder="ex:tremella" value="{{ dataSend.latinName }} {{ element.latin_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="color">Couleur</label>
                                <input type="text" name="color" class="form-control" placeholder="ex:jaune" value="{{ dataSend.color }} {{ element.color }}" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text" name="description" class="form-control" placeholder="ex:De pettie taille" rows="10" required>{{ dataSend.description }} {{ element.description }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select name="type" class="form-control">
                                    <option value="">Selectionner le type de l'élément</option>
                                    {% for elementType in elementTypes %}
                                        <option value="{{ elementType.id }}" {% if dataSend.type  == elementType.id or element.element_type_id == elementType.id %}selected{% endif %}>
                                            {{ elementType.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="toxicity">Toxicité</label>
                                <select name="toxicity" class="form-control">
                                    <option value="">Selectionner un élément dans la liste</option>
                                    {% for toxicity in toxicities %}
                                        <option value="{{ toxicity.id }}" {% if dataSend.toxicity  == toxicity.id or element.toxicity_id == toxicity.id %}selected{% endif %}>
                                            {{ toxicity.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <span for="pciture">Photo</span>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="picture">
                                    <span class="custom-file-label">{{ element.picture }}</span>
                                </div>
                            </div>

                            <button class="btn btn-primary">Modifier</button>
                        </form>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12">
                        <a class="btn btn-primary" href="/catalogAdmin/index">
                            Retourner à la page précédente
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}